.scene {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
  padding: 15px;
  max-width: 100%;
  width: 400px;
  height: 400px;
}
