.scene {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  max-width: 100%;
  width: 400px;
  height: 400px;
}

.item {
  position: relative;
}

.unit {
  position: absolute;
  left: 15%;
  bottom: 0;
  animation: fear-bubbling 1.5s ease infinite;
}

@keyframes fear-bubbling {
  0% {
    transform: translateY(0) scale(0);
  }
  50% {
    transform: translateY(-175%) scale(1);
  }
  100% {
    transform: translateY(0) scale(0);
  }
}
